<?xml version="1.0"?>
<opencv_storage>
<!-- Camera config -->
<cameraID>0</cameraID>
<cameraImageSize_width>640</cameraImageSize_width>
<cameraImageSize_height>360</cameraImageSize_height>
<cameraFPS>7</cameraFPS>
<!-- Calibration config -->
<calibImageSize_width>640</calibImageSize_width>
<calibImageSize_height>360</calibImageSize_height>
<calibPattern>CHESSBOARD</calibPattern>
<calibPatternDim_width>7</calibPatternDim_width>
<calibPatternDim_height>5</calibPatternDim_height>
<calibPatternSize>30.</calibPatternSize>
<!-- Calibration data -->
<calibIntrDone>0</calibIntrDone>
<cameraMatrix type_id="opencv-matrix">
  <rows>0</rows>
  <cols>0</cols>
  <dt>u</dt>
  <data></data></cameraMatrix>
<diffCoeffs type_id="opencv-matrix">
  <rows>0</rows>
  <cols>0</cols>
  <dt>u</dt>
  <data></data></diffCoeffs>
<calibExtrDone>1</calibExtrDone>
<homography type_id="opencv-matrix">
  <rows>3</rows>
  <cols>3</cols>
  <dt>d</dt>
  <data>
    9.7447477368907975e-01 -4.9382857855485507e-01
    -2.4717195232598840e+01 -1.1295711313633383e-02
    7.7949627619217976e-02 1.0601465948198674e+02
    -9.1975588031173450e-08 -1.5956896257549979e-03
    9.2926571063921504e-01</data></homography>
<transformation type_id="opencv-matrix">
  <rows>0</rows>
  <cols>0</cols>
  <dt>u</dt>
  <data></data></transformation>
<pixelPerMm>0.</pixelPerMm>
<validData>0</validData>
</opencv_storage>
