<?xml version="1.0"?>
<opencv_storage>
<!-- camera config -->
<cameraID>0</cameraID>
<cameraImageSize_width>640</cameraImageSize_width>
<cameraImageSize_height>360</cameraImageSize_height>
<cameraFPS>30.</cameraFPS>
<!-- camera calibration config -->
<camCalibImageSize_width>640</camCalibImageSize_width>
<camCalibImageSize_height>360</camCalibImageSize_height>
<camCalibPattern>CHESSBOARD</camCalibPattern>
<camCalibPatternSize_width>7</camCalibPatternSize_width>
<camCalibPatternSize_height>5</camCalibPatternSize_height>
<camCalibPatternMm>30.</camCalibPatternMm>
<!-- camera calibration data -->
<camCalibIntrDone>0</camCalibIntrDone>
<cameraMatrix type_id="opencv-matrix">
  <rows>0</rows>
  <cols>0</cols>
  <dt>u</dt>
  <data></data></cameraMatrix>
<diffCoeffs type_id="opencv-matrix">
  <rows>0</rows>
  <cols>0</cols>
  <dt>u</dt>
  <data></data></diffCoeffs>
<camCalibExtrDone>1</camCalibExtrDone>
<homography type_id="opencv-matrix">
  <rows>3</rows>
  <cols>3</cols>
  <dt>d</dt>
  <data>
    9.6575908536740052e-01 -5.1752540659333646e-01
    -8.2030553466501743e+00 -1.8926335900370184e-02
    9.8466180987329066e-02 9.9321147420933897e+01
    -3.6471966072718076e-05 -1.6143321515933945e-03
    9.4424866748254788e-01</data></homography>
<transformation type_id="opencv-matrix">
  <rows>0</rows>
  <cols>0</cols>
  <dt>u</dt>
  <data></data></transformation>
<pixelPerMm>4.9731561541557312e-01</pixelPerMm>
<validData>0</validData>
<!-- user interface data -->
<uiMainWindowName>AutonomousDriver</uiMainWindowName>
<uiImageSize_width>640</uiImageSize_width>
<uiImageSize_height>360</uiImageSize_height>
<uiMenuWidth>160</uiMenuWidth>
<uiFPS>30.</uiFPS>
<!-- traffic sign detection config -->
<trafficSignDetectionActive>1</trafficSignDetectionActive>
<!-- obstacle detection config -->
<obstacleDetectionActive>1</obstacleDetectionActive>
</opencv_storage>
